name: Accessory Service Tests

on:
  pull_request:
    branches: [ "main" ]
    paths:
      - "backend/accessory-service/**"

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend/accessory-service

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run tests
      env:
        COSMOS_ENDPOINT: "https://example.documents.azure.com:443/"
        COSMOS_KEY: "fake_key"
      run: |
        export PYTHONPATH=$PYTHONPATH:.
        pytest -v
